@font-face {
  src: url('wojiyuzhou.woff2');
  font-family: 'mzd';
}

.mzd {
  font-family: 'mzd';
  color: #c21a1a;
}

a:link {
  color: black;
}

a:hover {
  color: #c21a1a;
}

a:visited {
  color: #c21a1a;
}

body {
  width: 84%;
  margin: 10px auto;
}

@media screen and (min-width:400px) {
  body {
    width: 400px;
  }
}

#ava {
  width: 71px;
  height: 71px;
  margin-right: 10px;
  border-radius: 50%; 
}

.avaline {
  display: flex;
}

.book {
  width: 71px;
  height: 101px;
  margin-right: 10px;
}

/* hover tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* end hover tooltip */

.writing {
  width: 100px;
  height: 50px;
}
