body {
  width: 84%;
  margin: 10px auto;
}

@media screen and (min-width:400px) {
  body {
    width: 400px;
  }
}

#ava {
  width: 71px;
  height: 71px;
  margin-right: 10px;
}

.avaline {
  display: flex;
}